<header>
    <nav>
        <div class="logo-container">
            <div class="logo">⚙️</div>
            <a href="/" class="site-name">VAPEUR</a>
        </div>
        <div class="nav-links">
            <a href="/">Accueil</a>
            <a href="/jeux">Jeux</a>
            <a href="/genres">Genres</a>
            <a href="/editeurs">Éditeurs</a>
        </div>
    </nav>
</header>