<h1 class="page-title">Ajouter un éditeur</h1>



<form id="editeurs" method="post" action="/editeurs/form">
    <label for="nom">Nom de l'éditeur</label>
    <input type="text" id="nom" name="nom" required >

    <input type="submit" value="Ajouter l'éditeur">
</form>

<div class="page-navigation">
    <a href="/" class="btn-secondary">← Retour à l'accueil</a>
</div>